In [24]:
from preamble import *

In [25]:
food1 = pd.read_csv('data/1.csv', encoding='cp949')

In [26]:
food1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3606 entries, 0 to 3605
Data columns (total 55 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   식품코드           3606 non-null   object
 1   식품명            3606 non-null   object
 2   데이터구분코드        3606 non-null   object
 3   데이터구분명         3606 non-null   object
 4   식품기원코드         3606 non-null   int64
 5   식품기원명          3606 non-null   object
 6   식품대분류코드        3606 non-null   int64
 7   식품대분류명         3606 non-null   object
 8   대표식품코드         3606 non-null   int64
 9   대표식품명          3606 non-null   object
 10  식품중분류코드        3606 non-null   int64
 11  식품중분류명         3606 non-null   object
 12  식품소분류코드        3606 non-null   int64
 13  식품소분류명         3606 non-null   object
 14  식품세분류코드        3606 non-null   int64
 15  식품세분류명         3606 non-null   object
 16  영양성분함량기준량      3606 non-null   object
 17  에너지(kcal)      3606 non-null   int64
 18  수분(g)          3596 non-null   float64
 19  단백질(g)         3606 non-null   float64
 20  지방(g)          3588 non-null   float64
 21  회분(g)          3564 non-null   float64
 22  탄수화물(g)        3579 non-null   float64
 23  당류(g)          1839 non-null   float64
 24  식이섬유(g)        2040 non-null   float64
 25  칼슘(mg)         2754 non-null   float64
 26  철(mg)          2766 non-null   float64
 27  인(mg)          2755 non-null   float64
 28  칼륨(mg)         2175 non-null   float64
 29  나트륨(mg)        2179 non-null   float64
 30  비타민 A(μg RAE)  2220 non-null   float64
 31  레티놀(μg)        2418 non-null   float64
 32  베타카로틴(μg)      1923 non-null   float64
 33  티아민(mg)        2596 non-null   float64
 34  리보플라빈(mg)      2597 non-null   float64
 35  니아신(mg)        2526 non-null   float64
 36  비타민 C(mg)      2396 non-null   float64
 37  비타민 D(μg)      1492 non-null   float64
 38  콜레스테롤(mg)      1595 non-null   float64
 39  포화지방산(g)       1732 non-null   float64
 40  트랜스지방산(g)      1335 non-null   float64
 41  폐기율(%)         2055 non-null   float64
 42  출처코드           3606 non-null   int64
 43  출처명            3606 non-null   object
 44  원산지국코드         1809 non-null   float64
 45  수입여부           3606 non-null   object
 46  데이터생성방법명       3606 non-null   object
 47  원산지국명          3606 non-null   object
 48  원산지역명          3606 non-null   object
 49  데이터생성방법코드      3606 non-null   int64
 50  데이터생성일자        3606 non-null   object
 51  생산·채취·포획월      1100 non-null   float64
 52  데이터기준일자        3606 non-null   object
 53  제공기관코드         3606 non-null   int64
 54  제공기관명          3606 non-null   object
dtypes: float64(26), int64(10), object(19)
memory usage: 1.5+ MB

In [27]:
dup_idx1 = food1[food1['식품명'] == food1['식품명'].shift()].index
dup_idx2 = dup_idx1 - 1
dup_idx = np.unique(np.concat([dup_idx1, dup_idx2]))
idx = food1.index.delete(dup_idx)
# idx.delete(dup_idx2)

In [28]:
dup_idx.size, idx.size

(18, 3588)

In [29]:
food1.loc[dup_idx, 'name'] = food1['식품명'] + '[' + food1['원산지국명'] + ']'
food1.loc[idx, 'name'] = food1['식품명']

In [30]:
data1 = food1[['식품코드', 'name', '대표식품코드']].rename(columns={'식품코드':'code', '대표식품코드':'pcode'})
data2 = food1[['대표식품코드', '대표식품명', '식품대분류코드']].rename(columns={'대표식품코드':'code', '식품대분류코드':'pcode', '대표식품명':'name'})
data3 = food1[['식품대분류코드', '식품대분류명']].rename(columns={'식품대분류명':'name', '식품대분류코드':'code'})

In [31]:
food = pd.concat([data1, data2, data3], ignore_index=True).drop_duplicates(ignore_index=True)

In [32]:
food.fillna(0)

                     code              name   pcode
0     R101-003000101-0000          기장_도정_생것  1003.0
1     R101-003010101-0000      기장_찰기장_도정_생것  1003.0
2     R101-003020101-0000  기장_찰기장+이백찰_도정_생것  1003.0
3     R101-003030101-0000  기장_찰기장+한라찰_도정_생것  1003.0
4     R101-003040101-0000  기장_찰기장+황실찰_도정_생것  1003.0
...                   ...               ...     ...
4334                   10                난류     0.0
4335                   18              조미료류     0.0
4336                   15                차류     0.0
4337                   14               유지류     0.0
4338                   13               우유류     0.0

[4339 rows x 3 columns]

In [33]:
food.to_csv(index=False, path_or_buf='data/food1.csv', encoding='utf-8-sig')