In [1]:
from preamble import *

In [8]:
food1 = pd.read_csv('data/1.csv', encoding='cp949')
food2 = pd.read_csv('data/2.csv', encoding='cp949')
food3 = pd.read_csv('data/3.csv', encoding='cp949')

C:\Users\user\AppData\Local\Temp\ipykernel_14608\873190080.py:3: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  food3 = pd.read_csv('data/3.csv', encoding='cp949')

In [9]:
food1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3606 entries, 0 to 3605
Data columns (total 55 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   식품코드           3606 non-null   object
 1   식품명            3606 non-null   object
 2   데이터구분코드        3606 non-null   object
 3   데이터구분명         3606 non-null   object
 4   식품기원코드         3606 non-null   int64
 5   식품기원명          3606 non-null   object
 6   식품대분류코드        3606 non-null   int64
 7   식품대분류명         3606 non-null   object
 8   대표식품코드         3606 non-null   int64
 9   대표식품명          3606 non-null   object
 10  식품중분류코드        3606 non-null   int64
 11  식품중분류명         3606 non-null   object
 12  식품소분류코드        3606 non-null   int64
 13  식품소분류명         3606 non-null   object
 14  식품세분류코드        3606 non-null   int64
 15  식품세분류명         3606 non-null   object
 16  영양성분함량기준량      3606 non-null   object
 17  에너지(kcal)      3606 non-null   int64
 18  수분(g)          3596 non-null   float64
 19  단백질(g)         3606 non-null   float64
 20  지방(g)          3588 non-null   float64
 21  회분(g)          3564 non-null   float64
 22  탄수화물(g)        3579 non-null   float64
 23  당류(g)          1839 non-null   float64
 24  식이섬유(g)        2040 non-null   float64
 25  칼슘(mg)         2754 non-null   float64
 26  철(mg)          2766 non-null   float64
 27  인(mg)          2755 non-null   float64
 28  칼륨(mg)         2175 non-null   float64
 29  나트륨(mg)        2179 non-null   float64
 30  비타민 A(μg RAE)  2220 non-null   float64
 31  레티놀(μg)        2418 non-null   float64
 32  베타카로틴(μg)      1923 non-null   float64
 33  티아민(mg)        2596 non-null   float64
 34  리보플라빈(mg)      2597 non-null   float64
 35  니아신(mg)        2526 non-null   float64
 36  비타민 C(mg)      2396 non-null   float64
 37  비타민 D(μg)      1492 non-null   float64
 38  콜레스테롤(mg)      1595 non-null   float64
 39  포화지방산(g)       1732 non-null   float64
 40  트랜스지방산(g)      1335 non-null   float64
 41  폐기율(%)         2055 non-null   float64
 42  출처코드           3606 non-null   int64
 43  출처명            3606 non-null   object
 44  원산지국코드         1809 non-null   float64
 45  수입여부           3606 non-null   object
 46  데이터생성방법명       3606 non-null   object
 47  원산지국명          3606 non-null   object
 48  원산지역명          3606 non-null   object
 49  데이터생성방법코드      3606 non-null   int64
 50  데이터생성일자        3606 non-null   object
 51  생산·채취·포획월      1100 non-null   float64
 52  데이터기준일자        3606 non-null   object
 53  제공기관코드         3606 non-null   int64
 54  제공기관명          3606 non-null   object
dtypes: float64(26), int64(10), object(19)
memory usage: 1.5+ MB

In [10]:
data1 = food1[['식품코드', '에너지(kcal)', '탄수화물(g)', '단백질(g)', '지방(g)',  '당류(g)', '나트륨(mg)']].rename({'식품코드':'code'}, inplace=False)
data2 = food2[['식품코드', '에너지(kcal)', '탄수화물(g)', '단백질(g)', '지방(g)',  '당류(g)', '나트륨(mg)']].rename({'식품코드':'code'}, inplace=False)
data3 = food3[['식품코드', '에너지(kcal)', '탄수화물(g)', '단백질(g)', '지방(g)',  '당류(g)', '나트륨(mg)']].rename({'식품코드':'code'}, inplace=False)

In [11]:
data1.head()

                  식품코드  에너지(kcal)  탄수화물(g)  단백질(g)  지방(g)  당류(g)  나트륨(mg)
0  R101-003000101-0000        360    74.60   11.20   1.90    NaN      6.0
1  R101-003010101-0000        371    69.65   13.63   3.77   0.46      5.0
2  R101-003020101-0000        373    69.49   13.72   4.03   0.61      4.0
3  R101-003030101-0000        373    69.78   12.80   4.35   0.61      7.0
4  R101-003040101-0000        368    67.42   15.55   3.62   0.61      7.0

In [12]:
calories = pd.concat([data1, data2, data3], ignore_index=True).drop_duplicates(ignore_index=True)

In [13]:
calories.to_csv(index=False, path_or_buf='data/calories.csv', encoding='utf-8-sig')